.ToDoList {
background-color: aliceblue
}

h1 {
display: inline-block;
font-size: 60px;
color: rgb(73, 45, 105);
font-weight: bold;
text-shadow: 2px 1px #2c0542;
margin: 0px;
padding: 0px;
}

.formControll {
margin-bottom: 25px !important
}

.formModal {
padding: 30px !important
}

.todoHeader {
padding-right: 5px;
color: white;
font-size: 30px;
}

.grow {
flex-grow: 1
}
.delete {
color: 830a0a
}
.edit {
color: blue
}
.complete {
color: green
}
.todos {
background-color: rgb(71, 5, 5) !important
}
.completedTodos {
background-color: rgb(4, 59, 18) !important
}
.addIcon {
color: white;
font-size: 15
}
.add {
background-color: green !important
}

.add:hover {
    background-color: black !important
}

.tasks {
    min-height: 300px
}

